* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: dodgerblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 125px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.PotentialJobCard {
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  padding: 10px;
  width: 75%;
  display: flex;
}

.PotentialJobCard a {
  text-decoration: none;
}
.PotentialJobCard a:hover {
  color: black;
}
.PotentialJobCard p {
  margin: 15px;
}

.EndpointPageTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EndpointPageFireBtn {
  color: tomato;
  width: 20%;
  height: 50%;
}
.EndpointPagePotentialListings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EndpointPageFooter {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}
.EndpointPageSubmitBtn {
  width: 40%;
  color: tomato;
}
